{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 text-center">
        <h1 class="text-gold mb-4">{% trans "Sign In" %}</h1>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p class="text-gold mb-4" style="background-color: #333; padding: 10px; border-radius: 5px;">
            {% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third-party accounts. Or, <a href="{{ signup_url }}" class="text-gold">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}
        </p>

        <div class="socialaccount_ballot mb-4">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or text-gray">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p class="text-white mb-4" style="background-color: #333; padding: 10px; border-radius: 5px;">
            {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="text-gold">sign up</a> first.{% endblocktrans %}
        </p>
        {% endif %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <form class="login" method="POST" action="{% url 'account_login' %}" style="background-color: rgb(53, 53, 53); padding: 20px; border-radius: 10px;">
            {% csrf_token %}
            <div class="text-white">
                {{ form|crispy }}
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction text-gold" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <div class="d-grid gap-2">
                <button class="mt-3 btn btn-light primaryAction" type="submit" style="background-color: gold; color: black;">{% trans "Sign In" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
